<p> 
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Color">Color</a>
</p>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Size">Size</a>
</p>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Supplier">Supplier</a>
</p>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Product">Product</a>
</p>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Role">Role</a>
</p>
<p> 
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="User">User</a>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Bill">Bill</a>
</p>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BillDetail">BillDetail</a>
</p><p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cart">Cart</a>
</p>
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CartDetail">CartDetail</a>
</p>

